@model Document

@{    
    Layout = "~/Views/Shared/_Layout.cshtml";
    ViewBag.Title = Branding.Default.SiteTitle + ": " + Model.Title;
}

<!-- Header -->
<header class="navbar navbar-fixed-top">
    <div class="navbar-inner">
        <div class="container">

            <!-- Expand / Collapse Navigation -->
            <a class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse">
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </a>

            <!-- Document Outline -->
            <div class="btn-group pull-right">
                <a class="btn dropdown-toggle" data-toggle="dropdown" href="#">
                    Document Outline
                    <span class="caret"></span>
                </a>
                <ul class="dropdown-menu">
                    <li data-outline=".content" />
                </ul>
            </div>

            <h1 class="brand">@Branding.Default.SiteTitle</h1>

            <!-- Navigation -->
            <nav class="nav-collapse collapse">
                <ul class="nav">
                    @foreach (var link in Model.Navigation)
                    {
                        <li class="@(link.Key == Model.Path ? "active" : "passive")"><a href="~/@link.Key">@link.Value</a></li>
                    }
                </ul>
            </nav>

        </div>
    </div>
</header>

<!-- Content -->
<section class="content container">
    @RenderBody()
</section>
