@model MarkdownServer.Models.Document

@{
    ViewBag.Title = Model.Title;
}

<!-- Header -->
<header class="navbar navbar-fixed-top">
    <div class="navbar-inner">
        <div class="container">

            <!-- Expand / Collapse Navigation -->
            <a class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse">
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </a>

            <!-- Document Outline -->
            <div class="btn-group pull-right">
                <a class="btn dropdown-toggle" data-toggle="dropdown" href="#">
                    Document Outline
                    <span class="caret"></span>
                </a>
                <ul class="dropdown-menu">
                    <li data-outline="body" />
                </ul>
            </div>

            <div class="brand">Markdown</div>

            <!-- Navigation -->
            <div class="nav-collapse collapse">
                <ul class="nav">
                    @foreach (var link in Model.Navigation)
                    {
                        <li class="@(link.Key == Model.Path ? "active" : "passive")"><a href="@link.Key">@link.Value</a></li>
                    }
                </ul>
            </div>

        </div>
    </div>
</header>

<!-- Content -->
<div class="container">
    @Html.Raw(Model.Html)
</div>
