h1 {
    font-size: 30px;
}

h2 {
    font-size: 24px;
}

h3 {
    font-size: 18px;
}

h4 {
    font-size: 14px;
}

h5 {
    font-size: 12px;
}

pre {
    overflow: auto;
    word-wrap: normal;
    white-space: pre;
}

table {
    width: 100%;
    margin-bottom: 20px;
}

table th,
table td {
    padding: 8px;
    line-height: 20px;
    text-align: left;
    vertical-align: top;
    border-top: 1px solid #dddddd;
}

table th {
    font-weight: bold;
}

table thead th {
    vertical-align: bottom;
}

table caption + thead tr:first-child th,
table caption + thead tr:first-child td,
table colgroup + thead tr:first-child th,
table colgroup + thead tr:first-child td,
table thead:first-child tr:first-child th,
table thead:first-child tr:first-child td {
    border-top: 0;
}

table tbody + tbody {
    border-top: 2px solid #dddddd;
}

h1.brand {
    font-size: 36px;
    margin: 0;
    line-height: 1;
    padding-left: 40px !important;
    background: left center no-repeat url(../Branding/favicon.ico);
    background-size: 40px 40px;
}

.dropdown-menu {
    max-height: 400px;
    overflow: hidden;
    overflow-y: auto;
}

.dropdown-menu ol a {
    padding-left: 2px;
}